<div class="card h-full w-full p-2 border border-black border-opacity-60">
    <div class="grid grid-rows-3 gap-2">
        <div class="row-span-1">
            <a class="text-blue-400 font-semibold text-xl" [href]="repo.html_url">
                {{repo.name}}
            </a>
        </div>
        <div class="content text-gray-700 row-span-2">
            <p>{{repo.description}}</p>
        </div>
        <div class="flex flex-wrap items-center gap-2 row-span-3">
            <div *ngFor="let topic of repo.topics" class="rounded bg-blue-400 text-white p-1">
                <span class="">{{topic}}</span>
            </div>
        </div>
    </div>
</div>